.Navbar-bg 
{
    display: flex;
    min-height: 10vh;
    background-color: lightblue;
    position: sticky;
    z-index: 2000;
    box-shadow:0px 5px 16px 4px rgb(141, 255, 249);
}
.Navbar-left
{
    display: flex;
    flex: 0.65;
    align-items: center;
    letter-spacing: 5px;
    padding: 0 10px;
    opacity: 0.5;
    color: darkblue;
    font-size: 1.5rem;
    font-weight: 650;
}
.Navbar-logo 
{
    font-size:1.75rem;
    color: rgb(0, 50, 74);
    opacity: 0.5;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 4px;
    box-shadow:0px 6px 12px 0px rgb(16, 18, 17);
}
.Navbar-right 
{
    display: flex;
    flex: 0.35;
    align-items: center;
    gap: 3rem;
    letter-spacing: 1px;
}
.Navbar-link 
{
    margin-right: 5px;
}
.Navbar-link:hover
{
   outline-style:dashed;
   outline-color: black;
   transition-duration:0.85s;
   transform: scale(1.05);
   transition-timing-function:ease-in-out;
   background-color:rgb(0, 42, 46); 
   color: aliceblue;
   opacity: 0.5;
   padding: 5px 20px;
   border-radius: 3px;
   letter-spacing: 1px;
   font-size: 13px;
   cursor: pointer;
}
.applicant
{
    display: flex;
    min-height: 75vh;
    margin: 10px 10px;
}
.applicant-left 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.6;
    background-color:white;
    width: 50%;
    flex-direction: column;
}
.applicant-right
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.4;
    background-color: aquamarine;
    width: 50%;
}
.topcontent__button 
{
    color: black;
    background-color: lightblue;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 300;
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
}
.topcontent__button:hover 
{
    opacity: 0.5;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.topcontent
{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    flex: 0.4;
    line-height: 50px;
    background-color: aliceblue}
.topcontent__container > h2 
{
    letter-spacing: 2px;
} 
.topcontent__container > h1 
{
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 20px;
}
.topcontent__container > a > button 
{
    margin-top: 5px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}
.topcontent__container > h1 
{
    font-size:50px ;
    font-family: "Montserrat",sans-serif;
}
.topcontent__button 
{
    color: black;
    background-color: lightblue;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 300;
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
}
.topcontent__uploadbutton
{
    font-family: "Montserrat",sans-serif;
    background-color: rgb(122, 251, 249);
    border-radius: 3px;
    color:black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 300;
    outline-width: 1.5px;
    outline-style: dashed;
    outline-color: rgb(0, 81, 67);
}
.topcontent__uploadbutton:hover 
{
    opacity: 0.5;
    transition-duration:0.85s;
   transform: scale(0.85);
   transition-timing-function:ease-in-out;
}
.topcontent__workbutton:hover
{
    background-color: lightcoral;
    color: black;
    opacity: 0.5;
}
.applicant-circularbar 
{
    height: 150px;
    width: 200px;
    

}
.applicant-resume 
{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    min-width: 100px;
}
.resume
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 100px;
    outline-style: dashed;
    outline-width: 1.45px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    box-shadow:0px 5px 16px 4px rgb(141, 255, 249);
}
.resume-h1 
{
    font-size: 13px;
}
.resume-pred 
{
    padding-left:2px ;
}
.applicant-text 
{
    font-size: 13.5px;
    color: rgb(5, 84, 110);
}
.hello 
{
    color: rgb(28, 58, 68);
}
.ResumeStrength 
{
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(32, 62, 90);
}
.applicant-left-initial 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.applicant-text-btn
{
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(6, 118, 105);
    font-size: 10px;
    font-weight: 650;
    letter-spacing: 1px;
}
.applicant-text-btn:hover
{
  color: rgb(0, 6, 4);
  cursor:pointer;
  font-weight: 650;
  transition-duration:0.85s;
  transform: scale(1.0);
  transition-timing-function:linear;
}
.applicant-job-btn 
{
    margin: 0 0;
    margin-top: 10px;
    color: black;
    background-color: rgb(122, 251, 249);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 500;
    outline-style: dashed; 
    outline-width: 1px;
    border-radius: 3px;
}
.applicant-job-btn:hover 
{
    opacity: 0.5;
    transition-duration:0.85s;
    transform: scale(0.85);
    transition-timing-function:ease-in-out;
}
.Navbar-job 
{
    font-size: 18px;
    margin-right: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline-width: 1px;
    outline-color: black;
    outline-style: dashed;
    font-weight: 650;
    opacity: 0.7;
    color: black;
    animation: mymove 7s infinite;
}
@keyframes mymove 
{
 0%{
    background-color: aqua;
 }
 25%{
    background-color: rgb(0, 184, 184);
 }
 50%{
    background-color: rgb(0, 114, 114);
 }
 75%{
    background-color: rgb(0, 184, 184);
 }
 100%{
    background-color: aqua;
 }
}
.Navbar-job:hover 
{
    outline-style:dotted;
    transition-timing-function:ease-in-out;
    transition-duration:0.85s;
    opacity: 0.6;
    transform: scale(0.85);
}